n8n/days router.json
{
  "name": "days router",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -112
      ],
      "id": "0dee6928-d03f-488f-b52b-5f9ede8a68f9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chat_id, funnel_stage, language\nFROM users_nutrition \nWHERE \n  is_buyer = FALSE \n  AND funnel_stage >= 0 \n  AND funnel_stage < 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -112
      ],
      "id": "bf1150a5-b0d1-47be-be39-911f74ba67ae",
      "name": "Get Targets",
      "credentials": {
        "postgres": {
          "id": "lPu7MlAT3plm2aFH",
          "name": "railway postgre"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users_nutrition \nSET funnel_stage = 0 \nWHERE chat_id = '379336096';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        -752
      ],
      "id": "9428a3de-0426-443a-8430-4a115d8b4d4f",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "lPu7MlAT3plm2aFH",
          "name": "railway postgre"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "ru",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5e1f450f-1992-438f-b953-e147184458b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ru"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "892662b9-3aec-40d6-ad9e-845ba1ee030b",
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "en",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "en"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0df467c-f260-4c76-b394-f9cfdd8e7a44",
                    "leftValue": "={{ $json.language }}",
                    "rightValue": "ar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ar"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        80,
        -128
      ],
      "id": "085a1e49-c092-4da0-8caa-c2450a9154ee",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QRyEmX54Z5pUXix2",
          "mode": "list",
          "cachedResultUrl": "/workflow/QRyEmX54Z5pUXix2",
          "cachedResultName": "DAYS_ru"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        -304
      ],
      "name": "Call sailRU",
      "id": "e1561240-3ebc-4893-9fd0-3c757ef9c018"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dhuioiSKRf94VDw",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dhuioiSKRf94VDw",
          "cachedResultName": "DAYS_en"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        -112
      ],
      "name": "Call DAYS_en",
      "id": "1450083f-d259-44b1-bb51-560d41470edd"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users_nutrition",
          "mode": "list",
          "cachedResultName": "users_nutrition"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_buyer": false,
            "username": "mxpkns"
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sex",
              "displayName": "sex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "activity_level",
              "displayName": "activity_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "allergies",
              "displayName": "allergies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "excluded_foods",
              "displayName": "excluded_foods",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "calories",
              "displayName": "calories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "protein",
              "displayName": "protein",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fats",
              "displayName": "fats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "carbs",
              "displayName": "carbs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "get_food",
              "displayName": "get_food",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "funnel_stage",
              "displayName": "funnel_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "funnel_start_at",
              "displayName": "funnel_start_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_funnel_msg_at",
              "displayName": "last_funnel_msg_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_buyer",
              "displayName": "is_buyer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -736
      ],
      "id": "51eeb914-0dc6-4910-be64-c278c9bc65c0",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "lPu7MlAT3plm2aFH",
          "name": "railway postgre"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZEcA2tebRTW20kgf",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZEcA2tebRTW20kgf",
          "cachedResultName": "DAYS_ar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        512,
        96
      ],
      "name": "Call DAYS_ar",
      "id": "2f259706-8516-43e7-b840-1831abb0fe01"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Targets": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call sailRU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call DAYS_en",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call DAYS_ar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8a2740b-9afd-47c8-ab32-f5078275e10d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45b562a72a8b99927a2de093265cde67bc0d3affac17a774ed22c79e357b2dae"
  },
  "id": "jno4qmE3iKt89y5d",
  "tags": [
    {
      "updatedAt": "2025-11-25T07:38:41.908Z",
      "createdAt": "2025-11-25T07:38:41.908Z",
      "id": "73Cgx5GNvxOjusRB",
      "name": "VANYA_BOT"
    }
  ]
}